<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36}:: %msg%n"/>
    </Console>
    <File name="File" fileName="/home/yujin/workspace/infoxu/keepme/logs/webshot_service.log" append="true">
      <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36}:: %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="com.foo.Bar" level="TRACE"/>
    <Root level="ALL">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File" />
    </Root>
  </Loggers>
</Configuration> 
